body {
    background-color: beige;
}

h1 {
    text-align: center;
    margin-top: 10%;
}

h2 {
    text-align: center;
    margin-top: 2%;
}
form {
    display: inline-block;
    margin-left: 42%;
    margin-top: 5%;
}
form input {
    margin-bottom: 15px;
}

form input:hover {
    background-color: darkseagreen;
    color: white;
}

form button {
    margin-top: 3%;
}

#result {
    margin-top: 5px;
    margin-left: 42%;
}